.mainheading{
    text-align: center;
   
} 



header{
    background:#16A5C7;
    height:42px;
    
}

body{
   
   background:url("http://portland.nationalpti.edu/wp-content/uploads/2014/06/background4.jpg");
   background-size:cover;
   background-repeat:no-repeat;
   
}

ul{

list-style-type:none;
margin:0;
padding:0;
width:195px;
background-color:#1A8DA9;
text-transform:uppercase;
}


li>a{
display:block;
color:black;
padding:8px 17px;
text-decoration:none;
}


li>a:hover{
background-color:red;
color:white;
}

p{
    color:white;
    font-size:20px;
    font-family:helvetica;
}
