#mainheading{
  text-align: center;
  color:white;  
  font-size:75px;
  padding-top:150px;
}

.mainheading{
    text-align: center;
    color:white;
    
} 

.caption{
    color:white;
}

.cloudbutton{
    position:fixed;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:12px;
    top:500px;
}

.cloudbutton:hover{
    background-color:#333;
}

.button{
    position:fixed;
    background-color: #1E90FF;
    border: none;
    color: white;
    padding:15px 35px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:12px;
    
}

.button:hover {
    background-color:#333
}

#homepage{
        left:28em;
        position:absolute;
}



.education{
    float:left;
    margin:100px;
    
}

.table{
    float:right;
    background-color:#1E90FF;
    color:white;
    top:50px;
    right:50px;
}

h1{
    color:black;
}

body{
   
   background:url("https://static1.squarespace.com/static/52e77ab3e4b0a4877ee01abd/530f82fce4b0340ce527dfba/530f8309e4b0b9ddff1340cd/1393525515702/20120521-yosemite-327.jpg?format=1500w");
   background-size:cover;
   background-repeat:no-repeat;
}

p{
    color:white;
    font-size:20px;
    font-family:helvetica;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width:100%;
}

 ul li{
    float: left;
    width:20%;
    height: 40px;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: 	#1E90FF;
    text-transform:uppercase;
    font-family: arial;
    list-style: none;
    
}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
}

ul li a:hover {
 background-color: black;
 
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
 
}