.mainheading{
    text-align:center;
    color:black;
    font:75px;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width:100%;
    overflow:hidden;
}

 ul li{
    float: left;
    width:100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: black;
    text-transform:uppercase;
    font-family: arial;
    list-style: none;
    
}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
 text-align:center;
}

ul li a:hover {
 background-color: white;
 color:black;
 
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
 
}
