 #SelectProduct {
            left:35em;
            top:20em;
            position:fixed;
            background-color: #1E90FF;
            border: none;
            color: white;
            padding:15px 35px;
            text-align:center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius:12px;
        }

        #SelectProduct:hover {
            background-color:#333
}
        
     body{
            background:url("http://www.lgcnsblog.com/wp-content/uploads/2015/09/main.jpg")no-repeat center center fixed; 
            background-size: cover;
        }
        h1{
            text-align:center;
        }
        ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width:100%;
    overflow:hidden;
}

 ul li{
    float: left;
    width:222px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: black;
    text-transform:uppercase;
    font-family: arial;
    list-style: none;
    
}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
 text-align:center;
}

ul li a:hover {
 background-color: white;
 color:black;
 
}